
/*************************my monitor Display: 25 in, AH-IPS, W-LED, 2560 x 1080 pixels.*********************/

html {
    font-size: 20px;
}

body {
    box-sizing: border-box;
    font-family: Verdana;
}

.container {
    width: 95%;
    margin: 0 auto;
    height: 1200px;
}

.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: baseline;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar__header {
    color: #2d3982;
    display: flex;
    width: 45%;
    font-size: 23px;
    margin-left: 50px;
}

.navbar__list {
    width: 43%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navbar__link {
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
}

.current-page {
    border-bottom: solid 3px #E37889;
}

/**************************/
.hero {
    background-color: #f8f8f8;
    color: #101d42;
    display: flex;
    margin-top: 50px;
    height: 550px;
}

.hero__header {
    font-family: Comic Sans MS;
    font-size: 2.1rem;
    margin-top: 10px;
}

.hero__text {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5rem;
}

.hero__content {
    font-size: 0.85rem;
    color: #101d42;
    margin-bottom: 1.4rem;
    font-weight: normal;
}

.hero__button {
    background-color: #5969d0;
    color: white;
    border-radius: 20px;
    border-style: none;
    padding: 10px 50px;
    font-size: 18px;
}

.hero__img {
    width: 32%;
    height: 70%;
    margin-top: 5rem;
    margin-right: 5rem;
}

/*************************/
.card {
    width: 88%;
    height: 590px;
    margin: 0 auto;
}

.card__header {
    color: #101d42;
}

.all-cards {
    display: flex;
    justify-content: center;
}

.card__link__hawaii {
    text-decoration: none;
    color: white;
    background-image: url("../assets/hawaii.jpg");
    background-size: cover;
    width: 307px;
    height: 430px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.card__link__iceland {
    text-decoration: none;
    color: white;
    background-image: url("../assets/iceland.jpg");
    background-size: cover;
    width: 307px;
    height: 430px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.card__link__greece {
    text-decoration: none;
    color: white;
    background-image: url("../assets/greece.jpg");
    background-size: cover;
    width: 307px;
    height: 430px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.card__border {
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-right: 25px;
    margin-left: 25px;
}

.card__name {
    font-size: 27px;
    margin: 10px;
}
